/* 全体的にいろいろ */
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

body{
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
  margin: 0;

}

/* 文字の装飾 */
h1 {
  position: relative;
  text-align: center;
  color: #333333;
}
h1 span {
  position: relative;
  z-index: 2;
  display: inline-block;
  margin: 0 2.5em;
  padding: 0 1em;
  background-color: #FFFFFF;
  text-align: left;
}
h1::before {
  position: absolute;
  top: 50%;
  z-index: 1;
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #CCCCCC;
}

h2{
  border-left: solid 5px #2ECC71;
  padding-left: 10px;
  clear: both;
}

h3{
  display: block;
  margin-top: 30px;
  padding-left: 10px;
  border-top: solid 1px #2ECC71;
  border-bottom: solid 1px #2ECC71;
}

p{
  color: #333333;
}

/* トップページ */
#top_page{
background-image: url("../img/background_image.png");
}

#top_cotents{
  position: relative;
}

#top_logo{
  width: 90%;
}

#top_menu{
  position: absolute;
  top: 300px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;
  width: 40%;
  height: auto;
}

#top_nav{
margin-top: 50px;
}

#top_nav ul{

}

#top_nav li {
  float: left;
  list-style: none;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
}

#top_nav li+li{
  margin-left: 150px;
}

#top_nav a{
  color: #333333;
  text-decoration: none;
}

/* ヘッダー部分 */
#header{

}

#header_logo{
  display: block;
  width: 30%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

#menu{
  text-align:center;
  margin-top: 30px;
  margin-bottom: 20px;
}

#menu ul{
  display: inline-block;
}

#menu li {
  float: left;
  list-style: none;
  padding-right: 20px;
  padding-left: 20px;
}

#menu li + li{
  margin-left: 20px;
}

#menu a{
  color: #333333;
  text-decoration: none;
}


/* コンテンツ部分 */
#contents{
  clear: both;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

#contents small{
  clear: both;
}

.contents-animation{
  animation-delay: 0.5s;
}

/* 作品集関係 */

.works-img{
  display: inline-block;
  width: 40%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.works-img-sma{
  display: inline-block;
  width: 20%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.works-img-main{
  display: block;
  width: 60%;
  height: auto;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.works-samune{
  float: left;
  object-fit: contain;
  width: 200px;
  height: 200px;
}

.works-samune-effect {
	width: 200px;
	height:	200px;
	overflow:	hidden;
	margin:	10px 8px 30px 16px;
	position:	relative;	/* 相対位置指定 */
  float: left;
  border: solid 1px #DDDDDD;
}
.works-samune-effect .caption {
	font-size: 130%;
	text-align: center;
	padding-top:	80px;
	color:	#FFFFFF;
}
.works-samune-effect a{
  text-decoration: none;
}
.works-samune-effect .mask {
	width: 100%;
	height:	100%;
	position:	absolute;	/* 絶対位置指定 */
	top: 0;
	left:	0;
	opacity: 0;	/* マスクを表示しない */
	background-color:	rgba(0,0,0,0.7);	/* マスクは半透明 */
	-webkit-transition:	all 0.2s ease;
	transition:		all 0.2s ease;
}
.works-samune-effect:hover .mask {
	opacity:	1;	/* マスクを表示する */
}

figure{
  margin-top: 20px;
  width: 1000px;
}

figcaption{
  max-width: 100%;
  color: #999999;
}

figcaption::before{
  content: "▲ ";
}
/* フッター関係 */
#footer{
  text-align: center;
  background: #333333;
}
