/* 全体的にいろいろ */
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

body{
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
  margin: 0;
  /* background: #DDDDDD; */
}

#page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#page-top a {
  display: block;
  z-index: 999;
  padding: 20px 20px 20px 20px;
  border-radius: 30px;
  background-color: #2ECC71;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  box-shadow: 2px 5px 5px #DDDDDD;
  transition: .3s;
}
#page-top a:hover {
  text-decoration: none;
  box-shadow: 1px 1px #DDDDDD;
  opacity: 0.7;
}

/* 文字の装飾 */
h1 {
  position: relative;
  padding: 0 .4em .1em;
  text-align: center;
  margin-bottom: 30px;
}
h1::after {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 100%;
  height: 4px;
  background-color: #2ECCC0;
}

h2{
  border-left: solid 10px #2ECC71;
  padding: 5px 0px 5px 10px;
  clear: both;
}
@media(max-width: 600px){
  h2{
    border-left: solid 0px #2ECC71;
    text-align: center;
    border-bottom: solid 2px #2ECC71;
    clear: both;
  }
}


h3{
  display: block;
  margin-top: 50px;
  padding-left: 10px;
  border-top: solid 1px #2ECC71;
  border-bottom: solid 1px #2ECC71;
}

p{
  color: #333333;
}

/* トップページ */
#top_page{
background-image: url("../img/background_image.png");
margin: 0;
}

#top_contents{
  margin-top: 300px;
}
@media(max-width: 600px){
  #top_contents{
    margin-top: 200px;
    margin-bottom: 100px;
  }
}
.menuli-animation{
  -webkit-animatin-duration: 1s;
  animation-delay:1s;
}
@media(max-width: 600px){
.menuli-animation{
  -webkit-animatin-duration: 1s;
  animation-delay:0.5s;
  }
}

#top_contents li{
  font-size: 36px;
}

#top_nav a{
  color: #333333;
  text-decoration: none;
  width: 50%;
  margin: 20px;
}
@media(max-width: 600px){
  #top_nav a{
    font-size: 36px;
    text-align: center;
  }
}

.menu-animation{
  -webkit-animatin-duration: 1s;
  animation-delay:1s;
}

/* ヘッダー部分 */
#header{

}

#header_logo{
  display: block;
  width: 30%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
@media(max-width: 600px){
  #header_logo{
    width: 80%;
  }
}

#menu{
  text-align:center;
  margin-top: 30px;
  margin-bottom: 20px;
}
@media(max-width: 600px){
  #menu{
    margin: 0;
  }
}

#menu_button{
 font-size: 30px;
 background: #DDDDDD;
 text-align: center;

}
@media(min-width: 600px){
  #menu_button{
    display: none;
  }
}
@media(max-width: 600px){
  #menu_button{

  }
}

nav{
  margin-left: auto;
  margin-right: auto;
}
@media(max-width: 600px){
  nav{
    display: none;
  }
}

#menu ul{
  display: inline-block;
  margin-left: -100px;
}
@media(max-width: 600px){
  #menu ul{
    display: inline;
    margin-left: -40px;
  }
}

#menu li {
  float: left;
  list-style: none;
  }
@media(max-width: 600px){
  #menu li{
    float: none;
    border: solid 1px #FFFFFF;
    background: #DDDDDD;
    list-style: none;
    font-size: 22px;
  }
  #menu li:hover{
    background-color: #FFFFFF;
  }
}

#menu li + li{
  margin-left: 100px;
}
@media(max-width: 600px){
  #menu li + li{
    margin-left: 0px;
  }
}


#menu a{
  display: block;
  width: 100%;
  color: #333333;
  text-decoration: none;
  padding: 10px 30px 10px 30px;
  transition-duration: 0.5s;
  text-align: center;
  border: solid 1px #DDDDDD;
  box-shadow: 0px 3px 10px #DDDDDD;
}
#menu a:hover{
  padding: 10px 40px 10px 40px;
  background: #DDDDDD;
  box-shadow: 0px 3px 15px #DDDDDD;
}
@media(max-width: 600px){
  #menu a{
    padding: 10px 0px 10px 0px;
  }
}




/* コンテンツ部分 */
#contents{
  clear: both;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  background: #FFFFFF;
  padding: 5px 40px;
  box-shadow: 0px 0px 15px #DDDDDD;
}
#contents:hover{
  box-shadow: 0px 0px 5px #DDDDDD;
}
@media(max-width: 600px){
  #contents{
    padding: 5px 10px;
  }
}

#contents small{
  clear: both;
}

.contents-animation{
  animation-delay: 0.5s;
}

/* 自己紹介関係 */
.img-samune{
  width: 30%;
  height: 30%;
}

.about_main{
  display: block;
  width: 65%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


/* 作品集関係 */

.works{

}
@media(max-width: 600px){
.works{
  display: block;
  margin:0px auto 50px auto;
  width: 200px;
}
}

.works-img{
  display: inline-block;
  width: 40%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
@media(max-width: 600px){
  .works-img{
    width: 60%;
  }
}

.works-img-sma{
  display: inline-block;
  width: 20%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
@media(max-width: 600px){
  .works-img-sma{
    width: 40%;
  }
}

.works-img-main{
  display: block;
  width: 60%;
  height: auto;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.works-samune{
  float: left;
  object-fit: contain;
  width: 200px;
  height: 200px;
}

.works-samune-effect {
	width: 200px;
	height:	200px;
	overflow:	hidden;
	margin:	10px 8px 30px 16px;
	position:	relative;	/* 相対位置指定 */
  float: left;
  border: solid 1px #DDDDDD;
}
@media(max-width: 600px){
  .works-samune-effect{
    margin: 0;
    float: none;
  }
}
.works-samune-effect .caption {
	font-size: 130%;
	text-align: center;
	padding-top:	80px;
	color:	#FFFFFF;
}
.works-samune-effect a{
  text-decoration: none;
}
.works-samune-effect .mask {
	width: 100%;
	height:	100%;
	position:	absolute;	/* 絶対位置指定 */
	top: 0;
	left:	0;
	opacity: 0;	/* マスクを表示しない */
	background-color:	rgba(0,0,0,0.7);	/* マスクは半透明 */
	-webkit-transition:	all 0.2s ease;
	transition:		all 0.2s ease;
}
.works-samune-effect:hover .mask {
	opacity:	1;	/* マスクを表示する */
}

.title_res{
  display: none;
}
@media(max-width: 600px){
  .title_res{
   display: block;
   margin: 10px;
  }
}

figure{
  margin-top: 20px;
}
@media(max-width: 600px){
  figure{
  }
}

figcaption{
  max-width: 100%;
  color: #999999;
}
@media(max-width: 600px){
  figcaption{
    width: 400px;
  }
}

figcaption::before{
  content: "▲ ";
}

.face-animation{
  -webkit-animation-duration: 1.5s;
  animation-delay:1.5s;
}

/* フッター関係 */
#footer{
  text-align: center;
}
