/* 全体的なやつ */
html{
	height: 100%;
}

body{
	height: 100%;
	margin: 0;
}

/* トップ */
#header{
	text-align: center;
}

#top_menu{
	height: 100%;
}

.article_bar{
	float: left;
	width: 20%;
	height: 100%;
	transition: 1s;
}
.article_bar:hover{
}

.top_samune{
	width: 80%;
	height: 100%;
	object-fit: cover;
	transition: 1s;
}
.top_samune:hover{
	width: 100%;
	box-shadow: 0px 3px 15px #555555;
	object-position: 75% 50%;
}

.bar1{
	animation-delay: 1s;
}

.bar2{
	animation-delay: 1.2s;
}

.bar3{
	animation-delay: 1.4s;
}

.bar4{
	animation-delay: 1.6s;
}

.bar5{
	animation-delay: 1.8s;
}
/* 単体ページ用 */
.common_screen{
	position:absolute;
	height:100%;
	display: table-cell;
	vertical-align: middle;
}

.left_screen{
	width: 55%;
	left:0;
}

.right_screen{
	width: 45%;
	right:0;
	text-align: center;
	color: #888888;
}


.slick-prev:before,
.slick-next:before {
    color: #000000;
}

.slick-next {
    /* right: 10px; */
    z-index: 99;
}
.slick-prev {
     /* left: 10px; */
    z-index: 100;
}

.slick-dots li.slick-active button:before,
.slick-dots li button:before {
    color: #FFFFFF;
}

img {
    max-width: 100%;
     height: auto;
}
