/* 文字(黒)： rgba(0, 0, 0, 0.87);
文字(白)：#FFFFFFFF
メインカラー：#F44336
サブカラー1(濃い)：#E53935
サブカラー2(薄い)：#EF9A9A
アクセント：#FDD835
白：#FAFAFA
シャドウ：#DDDDDD
*/



@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

/* 全体的なやつ */
html{
  height: 100%;
}

body{
  font-family: Lato, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0;
  color: #333333;
  background: #FAFAFA
}


.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.page_size{
  width: 1080px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.border{
  border-bottom: solid 1px #333333;
}

.img{
  width: 70%;
  height: auto;
}

/* シャドウ */
.z-depth-0 {
  box-shadow: none !important;
}
.z-depth-1{
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);/*影*/
}
.z-depth-1-half{
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}


/* 上に戻るボタン */
#page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#page-top a {
  display: block;
  z-index: 999;
  padding: 20px 20px 20px 20px;
  border-radius: 30px;
  background-color: #FDD835;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  box-shadow: 2px 5px 5px #DDDDDD;
  transition: .3s;
}
#page-top a:hover {
  text-decoration: none;
  box-shadow: 1px 1px 1px #DDDDDD;
  opacity: 0.7;
}

/* リップルエフェクト */
.ripple {
  position: relative;
  overflow: hidden;
}

.ripple .rp-effect {/*エフェクト*/
  position: absolute;
  border-radius: 50%;
  opacity: 0.35;/*波紋の濃さ*/
  transform: scale(0);
  background: #FFF;/*波紋色*/
  animation: ripple 700ms;
  pointer-events: none;
}

@-webkit-keyframes ripple {
  to {
    opacity: 0;
    transform: scale(2.0);
  }
}

@keyframes ripple {
  to {
    opacity: 0;
    transform: scale(2.0);
  }
}
/* ナビゲーションバー */

/* ナビゲーションバー */
#navigation_bar{
  width: 100%;
  height: 80px;
  background: #FFFFFF;
  z-index: 1;
  position: fixed;
  top: 0;
}

#page_logo{
  float: left;
  margin-left: 20px;
}

#menu{
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}

#menu ul{
  display: flex;
}

#menu li{
  list-style: none;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 20px;
  color: #333333;
}
#menu li:hover{
  border-bottom: solid 2px #000000;
}

#menu a{
  text-decoration: none;
}



/* ヘッダー画像 */
#top_kari{
  max-width: 100%;
  height: auto;
  margin: 0;
}

/* コンテンツ */
#contents{
  z-index: 0;
  margin-top: 100px;
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
  /* overflow-y: scroll;
  overflow-x: hidden; */
}

/* カード部分 */
#masonry {
  margin-left: auto;
  margin-right: auto;
  padding:10px;
  display: block;
}

.grid {
  width: 215px;
  height: 215px;
  margin: 10px;
  background:#FFFFFF;
  display: inline;
  float: left;
  text-decoration: none;
  border-radius: 2px;
  transition: .3s;
}
.grid:hover{
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);/*浮き上がるように*/
}

.grid img{
  width: 215px;
  height: 110px;
  object-fit: cover;
  padding: 0;
}

.grid h1{
  padding-left: 10px;
}

 .grid h3{
   padding-left: 10px;
   margin-top: -5px;
 }

.grid_tate2 {
  width: 460px;
  height: 450px;
  margin:10px;
  /* float:left; */
  background:#FFFFFF;
  display:inline;
}

.grid_tate2 img{
  width: 460px;
  height: 220px;
  object-fit: cover;
}

.grid_yoko2 {
  width:460px;
  height: 215px;
  margin:10px;
  background:#FFFFFF;
  display:inline;
  float: left;
}

.grid_yoko2 img{
  width: 210px;
  height: 215px;
  object-fit: cover;
  float: left;
}

.grid_yoko2 h1{
  padding-left: 10px;
}

.grid_yoko2 h2{
  /* padding-right: -12px; */
}

 .grid_yoko2 h3{
   padding-left: 10px;
 }

.grid_yoko2 p{
  /* float: left; */
  padding-right: -12px;
}

.article_sent{
  padding: 24px;
  margin-top: -20px;
  margin-bottom: -10px;
}

.card_link{
  margin: 16px;
  position: absolute;
  right: 0;
  bottom: 0;
  color: #00796B;
  text-decoration: none;
  padding: 8px;
  transition: .5s;
}
.card_link:hover{
  background: #FAFAFA;
}

.card_link_sma{
  margin: 8px;
  position: absolute;
  right: 0;
  bottom: 0;
  color: #00796B;
  text-decoration: none;
  padding: 4px;
  transition: .5s;
}
.card_link_sma:hover{
  background: #FAFAFA;
}


/* フッター */
#footer{
  text-align: center;
  background: #F44336;
  margin: 0px;
}


/* 個別記事 */
#article{
  width:980px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  background: #FFFFFF;
  padding: 12px 24px 12px 24px;
  border-radius: 3px;
}
#article:hover{
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);/*浮き上がるように*/
}


#article img{
  max-width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#back_top{
  background: #FFFFFF;
  color: #000000;
  text-align: center;
  display: block;
  width: 100px;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);/*影*/
  -webkit-tap-highlight-color: transparent;
  transition: .3s ease-out;/*変化を緩やかに*/
  }
#back_top:hover{
  opacity: 0.7;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
}


/* コメントフォーム */
.button{
  display: inline-block;
  color: #00796B;
  font-size: 1em;/*文字サイズ*/
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
  letter-spacing: 0.05em;/*字間*/
  padding: 0.2em 1em;/*ボタン内の余白*/
  border: solid 1px #FAFAFA;
  border-radius: 3px;/*角の丸み*/
  padding: 10px 10px;
  clear: both;
  margin-bottom: 30px;
  transition: .3s ease-out;/*変化を緩やかに*/
}
.button:hover{
   background: #FAFAFA;
}


/* フォーム */
.cp_iptxt {
	position: relative;
	width: 80%;
	margin: 20px 3%;
}
.cp_iptxt input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	letter-spacing: 1px;
	padding-left: 4em;
}
.cp_iptxt input[type='text']:focus {
	outline: none;
}
.ef {
	padding: 4px 0;
	border: 0;
	border-bottom: 1px solid #1b2538;
	background-color: transparent;
}
.ef ~ .focus_line {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 2px;
	transition: 0.4s;
	background-color: #00796B;
}
.ef:focus ~ .focus_line,
.cp_iptxt.ef ~ .focus_line {
	width: 100%;
	transition: 0.4s;
}
.ef ~ label {
	position: absolute;
	top: 4px;
	left: 0;
	transition: 0.3s;
	letter-spacing: 0.5px;
	color: #aaaaaa;
}
.ef:focus ~ label, .cp_iptxt.ef ~ label {
	font-size: 12px;
	top: -16px;
	transition: 0.3s;
	color: #00796B;
}

/* モーダル関係 */
#modal-win {
	width: 100%;
	position: absolute;
}
#modal-win-inner {
	margin: 0 auto;
	position: relative;
	z-index: 101;
}
#modal-bg {
	width: 100%;
	height: 100%;
	background-color: #000000;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	cursor: pointer;
}

#comment_modal{
  display: none;
  background: #FFFFFF;
  width: 500px;
  padding: 12px;
}

#comment_modal h2{
  text-align: center;
}

#sousin{
    display: none;
    background: #FFFFFF;
    width: 500px;
    padding: 12px;
}

#sousin_close{
  float: right;
}

.button_form{
  display: inline-block;
  background-color: #009688;/*背景色*/
  color: #FFFFFF;
  line-height: 1;
  text-decoration: none;
  padding: 0.2em 1em;/*ボタン内の余白*/
  border-radius: 3px;/*角の丸み*/
  padding: 10px 10px;
  float: left;
}
.button_form:hover{
  opacity: 0.8;
}

.close_button{
  margin-left: 12px;
}

/* フッター */
#footer{
  text-align: center;
  background: #FFFFFF;
  margin: 0px;
}
